:root {
  --tw-opacity: 1;

  --background-color: whitesmoke;
  --text-color: dimgrey;
  --btn-color: black;
  --select-color: royalblue;
  --select-background-color: lightgray;
  --other-background-color: rgba(0, 0, 0, 0.209);
}

body {
  padding-inline: 1em;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-size: 21px;
  min-height: 100vh;
}

h1 {
  color: royalblue;
  line-height: 1;
  font-size: 45px;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-top: 4em;
  margin-bottom: 0.5em;
}

h2 {
  color: royalblue;
  font-size: 33px;
  margin-bottom: 2em;
  line-height: 1;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: royalblue;
}

nav {
  height: 60px;
  background-color: var(--background-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav svg {
  fill: var(--text-color);
}

blockquote {
  text-align: center;
  font-style: italic;
  color: royalblue;
  font-family: "Courier New", monospace;
  line-height: 1.4;
  font-size: 20px;
}

button:focus,
a:focus {
  outline: 2px solid royalblue;
  outline-offset: 0.15em;
  border-radius: 0.5px;
}

::selection {
  background-color: var(--select-background-color);
  color: var(--select-color);
}

[id] {
  scroll-margin-top: 3.8em;
}

.note[id] {
  scroll-margin-top: 7em;
}

.tab {
  padding-left: 1.5em;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 3px solid dimgrey;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.19);
  z-index: 1000;
}

.navbar-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  margin-left: auto;
}

.lightmode-darkmode-btn {
  color: var(--btn-color);
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  margin-left: auto;
  padding: 0.2em;
  margin-right: 0.5em;
  background-color: transparent;
  border: None;
  vertical-align: middle;
  opacity: 0.6;
  margin-top: 1em;
  margin-bottom: 1em;
}

.lightmode-darkmode-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
}

.home-btn {
  color: var(--btn-color);
  width: 2.2em;
  height: 2.2em;
  cursor: pointer;
  padding: 0.2em;
  margin-right: 0.5em;
  background-color: transparent;
  border: None;
  vertical-align: middle;
  opacity: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}

.home-btn a:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
}

.close-sidebar-btn {
  padding-top: 1em;
  padding-left: 2em;
  display: block;
}

.open-sidebar-btn {
  color: var(--btn-color);
  width: 3em;
  height: 3em;
  cursor: pointer;
  margin-right: 0.47em;
  padding: 0.2em;
  background-color: transparent;
  border: None;
  vertical-align: middle;
  opacity: 0.57;
  margin-top: 1em;
  margin-bottom: 1em;
}

.open-sidebar-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  width: 17em;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: 0.6s ease-out;
}

.links-container a {
  white-space: nowrap;
  align-items: center;
  text-decoration: none;
  padding-left: 1.5em;
  padding-right: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.links-container a:hover {
  background-color: var(--select-background-color);
}

.sidebar-special-content {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

.sidebar-special-content a {
  padding-right: 300%;
}

#sidebar-active {
  display: none;
}

#sidebar-active:checked ~ .links-container {
  right: 0;
}

#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.breadcrumb {
  flex-direction: row;
  list-style: none;
  padding: 0;
  padding-right: 1em;
  margin-right: auto;
  margin-top: -4em;
  align-items: center;
  font-size: 18px;
  margin-left: 7em;
  line-height: 1.4;
  font-style: italic;
  border-top: 2px solid dimgrey;
  border-right: 2px solid dimgrey;
  border-top-right-radius: 3px;
}

.breadcrumb ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb li {
  display: inline-block;
  margin-right: 0.5em;
}

.breadcrumb li::after {
  content: ">";
  margin-left: 0.5em;
}

.breadcrumb li:last-child::after {
  content: "";
}

/* .breadcrumb li[aria-current="page"] {
  font-weight: bold;
} */

.home-screen {
  margin-top: 4em;
  color: royalblue;
  font-size: clamp(30px, 10vw, 65px);
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin-bottom: 4em;
}

.normal-text {
  margin-bottom: 1.5em;
}

.fade-in-text {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fullscreen-404 {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.emoji-404 {
  margin-top: 15vh;
  font-size: 60px;
}

.oups-404 {
  margin-top: 0.5em;
  font-size: 40px;
}

.number-404 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1em;
  color: royalblue;
}

.text-404 {
  line-height: 1.6;
}

.sub-heading {
  margin-bottom: 0.4em;
}

.contact {
  margin-top: 1.8em;
  padding-left: 0px;
  justify-content: flex-start;
}

.mail-contact {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  cursor: pointer;
  margin-top: -1.5em;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
}

.mail-contact-img {
  color: var(--btn-color);
  width: 2.3em;
  height: 2.3em;
  cursor: pointer;
  opacity: 0.9;
  pointer-events: none;
  align-items: center;
}

.mail-contact-img:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
}

.find-me {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0px;
}

.github-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  margin-top: -1.5em;
  margin-left: 0.5em;
  margin-bottom: 1.5em;
}

.github-contact-img {
  color: var(--btn-color);
  opacity: 0.8;
  cursor: pointer;
  width: 2em;
  height: 2em;
  pointer-events: none;
}

.github-contact-img:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
}

.soundcloud-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  margin-left: 0.5em;
}

.soundcloud-contact-img {
  color: var(--btn-color);
  opacity: 0.8;
  cursor: pointer;
  width: 3em;
  height: 3em;
  margin-bottom: -0.7em;
  pointer-events: none;
}

.soundcloud-contact-img:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
}

/* .soundcloud-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
  cursor: pointer;
  border-top: solid 2px;
}

.soundcloud-contact-img {
  opacity: 0.8;
  cursor: pointer;
  width: 2em;
  height: 2em;
  pointer-events: none;
}

.soundcloud-contact-img:hover {
  transform: scale(1.07);
  transition: transform 0.3s ease;
  color: royalblue;
  opacity: 1;
} */

.languages-bar-container {
  display: flex;
  flex-direction: row;
  gap: 0.12em;
  margin-top: -1em;
  cursor: pointer;
}

.languages-text {
  display: flex;
  flex-direction: row;
  margin-top: 0.2em;
  justify-content: space-between;
  font-size: 18px;
}

.bar {
  height: 0.8em;
}

.bar:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.bar-text {
  cursor: pointer;
  padding: 0.2em;
}

.bar-text:hover {
  background-color: var(--select-background-color);
  border-radius: 5px;
}

.js {
  background-color: #f1e05a;
}

.js-text {
  color: #f1e05a;
}

.html {
  background-color: #e34c26;
  color: #e34c26;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.html-text {
  color: #e34c26;
}

.css {
  background-color: #663399;
}

.css-text {
  color: #663399;
}

.python {
  background-color: #3572a5;
}

.python-text {
  color: #3572a5;
}

.other {
  background-color: var(--other-background-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.other-text {
  color: var(--other-background-color);
}

.terms-div {
  margin-top: 0.7em;
  margin-bottom: 1.2em;
}

.term {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.exercise {
  margin-top: 25px;
}

.code {
  line-height: 1.5;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Courier New", Courier, "Lucida Console", "Monaco", monospace;
}

.n-t-a {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.n-t-a-container {
  border: 2px solid dimgrey;
  border-radius: 7px;
  padding: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  max-width: 42em;
  cursor: pointer;
  text-decoration: none;
}

.n-t-a-container:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 2px solid royalblue;
}

.n-t-a-container:hover .n-t-a-descr {
  color: var(--text-color);
}

.n-t-a-top-container {
  display: flex;
}

.n-t-a-heading {
  color: royalblue;
  font-size: 22px;
  font-weight: bold;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  line-height: 1.25;
}

.n-t-a-topic {
  font-style: italic;
  font-size: 18px;
  margin-bottom: 0.2em;
  margin-left: auto;
}

.n-t-a-descr {
  margin-bottom: 0.3em;
  font-size: 20px;
}

.n-t-a-source {
  font-style: italic;
  font-size: 18px;
  margin-top: 0.2em;
}

.download {
  display: inline-block;
  border: 2px solid dimgrey;
  border-radius: 7px;
  padding: 0.3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.3em;
  max-width: 42em;
  cursor: pointer;
  text-decoration: none;
}

.download:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 2px solid royalblue;
}

.note {
  font-style: italic;
  font-size: 20px;
  margin-top: 0.1em;
}

.bibleverse {
  margin-top: 0em;
  line-height: 1.1;
  font-style: italic;
  padding: 0.2em;
  margin-left: 3em;
  margin-right: auto;
}

.random-bibleverse {
  margin-top: 0.5em;
  line-height: 1.1;
  font-style: italic;
  padding: 0.2em;
  margin-right: auto;
}

.verse-number {
  font-size: 13px;
  color: var(--text-color);
  display: inline;
}

.verse {
  font-size: 19px;
  display: inline;
  color: royalblue;
  margin-top: -0.2em;
  font-family: "PT Serif", serif;
}

.random-verse {
  font-size: 21px;
  display: inline;
  color: royalblue;
  margin-top: -0.2em;
  font-family: "PT Serif", serif;
}

.bibleverse-info {
  font-size: 16px;
  display: flex;
  color: var(--text-color);
  margin-top: 0.5em;
  font-style: normal;
  justify-content: flex-end;
}

.random-bibleverse-info {
  font-size: 18px;
  display: flex;
  color: var(--text-color);
  margin-top: 0.5em;
  font-style: normal;
  justify-content: flex-end;
}

.blog-ending {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: -0.5em;
  font-size: 19px;
  font-style: italic;
}

.legal-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.209);
  padding: 2em;
  margin-top: 3em;
  font-size: 21px;
  /* right: 0;
  left: 0; */
  /* width: 100vw !important;
    margin-left: -4em !important;
    margin-left: -4em !important; */
}

.legal-text-things {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.designed-and-developed {
  font-size: 20px;
  font-style: italic;
}

.disclaimer {
  margin-top: 2em;
  font-size: 18px;
}

@media (max-width: 500px) {
  /* font-size: 4 less */
  body {
    margin-left: 1em;
    margin-right: 1em;
    line-height: 1.5;
    font-size: 17px;
  }

  h1 {
    padding: 3px;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 5em;
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    line-height: 1.1;
    font-size: 23px;
  }

  blockquote {
    line-height: 1.3;
    font-size: 15.5px;
  }

  [id] {
    scroll-margin-top: 5.3em;
  }

  .note[id] {
    scroll-margin-top: 10em;
  }

  .navbar {
    margin-top: -0.8em;
    margin-bottom: -0.4em;
  }

  .lightmode-darkmode-btn {
    width: 2em;
    height: 2em;
  }

  .lightmode-darkmode-btn:hover {
    transform: scale(1);
  }

  .home-btn {
    width: 2em;
    height: 2em;
  }

  .home-btn a:hover {
    transform: scale(1);
  }

  .open-sidebar-btn {
    width: 2.5em;
    height: 2.5em;
    padding-top: 0.25em;
  }

  .breadcrumb {
    margin-left: 2em;
    margin-right: auto;
    margin-top: 0;
    line-height: 1.3;
    border-top: 1.5px solid dimgrey;
    border-right: 0px solid dimgrey;
    font-size: 15px;
  }

  .home-screen {
    margin-top: 8em;
    margin-bottom: 7em;
  }

  .fade-in-text {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  .normal-text {
    margin-bottom: 1.2em;
  }

  .languages-bar-container {
    margin-top: -0.7em;
  }

  .languages-text {
    font-size: 14px;
  }

  .bar {
    height: 0.6em;
  }

  .bar:hover {
    transform: scale(1);
  }

  .emoji-404 {
    margin-top: 10dvh;
    font-size: 45px;
  }

  .oups-404 {
    margin-top: -0.3em;
    font-size: 35px;
  }

  .number-404 {
    font-size: 25px;
    margin-bottom: 0.5em;
  }

  .n-t-a-heading {
    font-size: 19px;
  }

  .n-t-a-descr {
    font-size: 16px;
  }

  .n-t-a-source {
    font-size: 14px;
  }

  .n-t-a-container:hover {
    transform: scale(1);
  }

  .blog-ending {
    font-size: 16px;
  }

  .legal-content {
    padding: 1em;
    font-size: 16px;
    /* width: 100vw !important;
    margin-left: -4em !important;
    margin-left: -4em !important; */
  }

  .designed-and-developed {
    font-size: 16px;
  }

  .disclaimer {
    font-size: 15px;
  }

  .note {
    font-style: italic;
    font-size: 15px;
  }

  .bibleverse {
    padding: 0.2em;
    margin-left: 1em;
    margin-right: auto;
    line-height: 1.2;
  }

  .random-bibleverse {
    padding: 0.2em;
    margin-left: 1em;
    margin-right: auto;
    line-height: 1.2;
  }

  .verse-number {
    font-size: 10px;
  }

  .verse {
    font-size: 17px;
  }

  .random-verse {
    font-size: 19px;
  }

  .bibleverse-info {
    font-size: 14px;
    margin-top: 0.2em;
  }

  .random-bibleverse-info {
    font-size: 16px;
    margin-top: 0.2em;
  }
}

/* .div {
  filter: blur(0px);
  animation: blurIn 3s forwards;
}

@keyframes blurIn {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(10px);
  }
} */
