<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />
    <!-- Suchmaschinen such begriffe  -->
    <meta name="description" content="My Blog" />
    <!-- Beschreibung bei safari  -->

    <meta name="theme-color" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 

    <title>EmilGerlach | MyBlog</title>
    <link rel="stylesheet" href="../static/css/styles.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/favicon_io/site.webmanifest">

  <body>
    <div class="navbar" id="navbar">
     <div>
        <h1 class="mini-heading">My Blog</h1>
      </div>
      <div id="lightmode-darkmode-btn" class="lightmode-darkmode-btn" alt="lightmode/darkmode btn" title="switch between darkmode and lightmode" onclick="toggleDarkMode()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
        </svg>        
      </div>
      <div id="homeLink" class="home-btn" alt="home btn" title="home">
        <a href="https://emilgerlach.com">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>  
        </a>        
      </div>
      <div class="dropdown">
        <btn class="dropbtn" id="dropbtn" alt="dropdown btn" onclick="toggleDropBtn()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </btn>
        <div class="dropdown-content" id="dropdown-content">
          <a href="#article">Article</a>
          <a href="#news">News/Tutorials/Articles</a>
          <div class="dropdown-special-content">
            <a href="/dev">Dev</a>
          </div>
        </div>
      </div>
    </div>

    <div class="descr-text-blog">
      Awesome, you found this page! <br>
      Welcome to my blog, where you can find news and articles about tech, development, 
      IT, science, and a variety of other topics.
    </div>

    <div class="text">
      <div class="sub-heading">
        <h2 id="article">Articles</h2>
      </div>
      This is where I share my articles from coding and open-source-projects to science and other topics.<br/> 
      You can also <a href="mailto:info@emilgerlach.com">send</a> me your topic suggestions and feedback. Let me know what you think - I’d love to hear from you!
      <div class="n-t-a">
        <a class="n-t-a-container" href="/blog/strudel">
          <div class="n-t-a-heading">
            "Strudel: Create Dynamic Music in the Browser"
          </div>
          <div class="n-t-a-descr">
            Strudel is a live coding platform that allows users to create music
            directly in their browser. It is free, open-source, and suitable 
            for both beginners and experienced users. Strudel provides an ...
          </div>
        </a>
      <div>
    </div>

    <div class="text">
      <div class="sub-heading">
        <h2 id="news">News/Tutorials/Articles</h2>
      </div>
      Here are some links to news, tutorials, and articles. <br/>
      I regularly try to add new content and update the existing ones.
      <div class="n-t-a">  <!--n-t-a =  News/Tutorials/Articles-->
        <a class="n-t-a-container" href="https://www.sciencenews.org/article/2024-science-discoveries-could-be-true" target="_blank">
          <div class="n-t-a-heading">
            "These discoveries in 2024 could be groundbreaking — if they’re true"
          </div>
          <div class="n-t-a-descr">
            In 2024, researchers turned up possible evidence of ancient life on Mars,
            hints that Alzheimer’s disease can spread from person-to-person and a slew 
            of other scientific findings that could be a big deal — if they’re the real deal.
          </div>
          <div class="n-t-a-source">
            source: ScienceNews
          </div>
        </a>
        <a class="n-t-a-container" href="https://www.freecodecamp.org/news/how-to-write-clean-code-tips-for-developers/?ref=dailydev"" target="_blank">
          <div class="n-t-a-heading">
            "How to Write Clean Code – Tips for Developers with Examples"
          </div>
          <div class="n-t-a-descr">
            Writing clean code is a habit that professional developers cultivate, 
            showing dedication to quality and a strong work ethic. And in this article, 
            I’ll walk you through some best practices for keeping your code clean.
          </div>
          <div class="n-t-a-source">
            source: freeCodeCamp
          </div>
        </a>
        <a class="n-t-a-container" href="https://www.makeuseof.com/customize-zsh-prompt-macos-terminal/" target="_blank">
          <div class="n-t-a-heading">
            "How to Customize the zsh Prompt in the macOS Terminal"
          </div>
          <div class="n-t-a-descr">
            Whether you want the zsh prompt to use a different color, display additional details, 
            or adopt a minimal look to make the best of the space, macOS lets you do it. 
            Learn how to customize the zsh prompt in Terminal to make ...
          </div>
          <div class="n-t-a-source">
            source: makeuseof
          </div>
        </a>
        <a class="n-t-a-container" href="https://dev.to/kishansheth/200-project-ideas-from-beginner-to-advanced-with-open-source-contributions-3g6a?ref=dailydev" target="_blank">
          <div class="n-t-a-heading">
            "200 Project Ideas from Beginner to Advanced with Open Source Contributions"
          </div>
          <div class="n-t-a-descr">
            Whether you're a beginner looking to learn the fundamentals or an experienced 
            developer seeking a challenging new endeavor, this curated list of 200 project 
            ideas has something for ...
          </div>
          <div class="n-t-a-source">
            source: dev.to
          </div>
        </a>
      </div>
    </div>

    

    <div class="legal-content">
      <span>
        designed and developed by Emil Gerlach.
        <div class="legal-text-things">
          &copy; 2025 Emil Gerlach |
          <a href="https://emilgerlach.com/">emilgerlach.com</a><br/>
          <a href="#">up</a> 
        </div>
        <div class="disclaimer"> 
          Despite careful content control, I assume no liability 
          for the content of external links. The operators of the linked pages are solely responsible for their content.
        </div>
      </span>
    </div>
    <script src="../static/js/main.js" defer></script>
  </body>
</html>
