<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="" />

    <meta name="description" content="Explore Strudel, a live coding music editor that lets you create and manipulate music in real-time through code.">

    <meta name="theme-color" content="">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> 
    
    <meta name="author" content="Emil Gerlach" />

    <title>Emil Gerlach | Strudel</title>
    <link rel="stylesheet" href="../static/css/styles.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/favicon_io/site.webmanifest">

  <body>
    <div class="navbar"> 
      <div>
        <h1 class="mini-heading">Strudel</h1> 
      </div>
      <div id="lightmode-darkmode-btn" class="lightmode-darkmode-btn" alt="lightmode/darkmode btn" title="switch between darkmode and lightmode" onclick="toggleDarkMode()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
        </svg>        
      </div>
      <div id="homeLink" class="home-btn" alt="home btn" title="home">
        <a href="https://emilgerlach.com">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
          </svg>  
        </a>        
      </div>

      <nav>
        <input type="checkbox" id="sidebar-active">
        <label for="sidebar-active" class="open-sidebar-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </label>
        <label id="overlay" for="sidebar-active"></label>
        <div class="links-container">
          <label for="sidebar-active" class="close-sidebar-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
          </label>
          <a href="#what-is-strudel">What is Strudel?</a>
          <a href="#how-it-works">How It Works</a>
          <a href="#key-features">Key Features</a>
          <a href="#technical-background">Technical Background</a> 
          <a href="#get-started">Get Started with Strudel</a>
            <div class="sidebar-special-content">
              <a href="/blog">My Blog</a>
            <a   href="/dev">Dev</a>
            </div>
        </div>
      </nav>
    </div>
    <div class="descr-text" style="margin-top: 6em;">
      Strudel is a live coding platform that allows users to create music
      directly in their browser. It is free, open-source, and suitable 
      for both beginners and experienced users. Strudel provides an accessible 
      way to explore live coding, whether you are new to the concept or familiar 
      with tools like TidalCycles.
    </div>

    <div class="text">
      <div class="sub-heading">
        <h2 id="what-is-strudel">What is Strudel?</h2>
      </div>
      Strudel is a JavaScript-based implementation of TidalCycles, 
      a well-known live coding language for music originally developed 
      in Haskell. With Strudel, users can write code to generate beats, 
      rhythms, and melodies, listening to changes in real time.<br>
      Its straightforward interface makes it approachable for those 
      new to coding while offering flexibility for experienced users 
      to experiment with complex musical ideas.
    </div>

    <div class="text">
      <div class="sub-heading">
        <h2 id="how-it-works">How It Works</h2>
      </div>
      Strudel operates on a simple process:<br>
      <b>Play:</b> Start a session to hear the default sound.<br>
      <b>Edit:</b> Modify the code to customize the music.<br>
      <b>Update:</b> Apply the changes and hear the results immediately.<br>
      For inspiration, a shuffle function is available to generate new ideas. <br/>
      Users can also write their own code entirely and listen to the output in real time.<br/>
      The platform includes an interactive tutorial to help users get started. 
      Additional support and interaction with the community are available through the 
      TidalCycles Discord channel.
    </div>

    <div class="text">
      <div class="sub-heading">
        <h2 id="key-features">Key Features</h2>
      </div>
      <b>Real-Time Music Generation:</b> Experiment with sounds, rhythms, and effects and hear changes instantly.<br/>
      <b>Free and Open Source:</b>Distributed under the GNU Affero General Public License, ensuring it remains accessible.<br/>
      <b>Beginner-Friendly:</b> Features a guided tutorial suitable for users with no prior experience in coding or music production.<br/>
      <b>Advanced Capabilities:</b> Enables the creation of intricate, layered compositions for more advanced users.
    </div> 


    <div class="text">
      <div class="sub-heading">
        <h2 id="technical-background">Technical Background</h2>
      </div>
    </div>
    Strudel is inspired by TidalCycles and brings similar functionality to JavaScript, 
    making live coding for music more accessible by eliminating the need for specialized 
    environments.
    <a href="https://github.com/tidalcycles/strudel?tab=readme-ov-file" target="_blank">The project is hosted on GitHub</a>, 
    allowing users to see the source code and contribute to its development.
    </div>

    <div class="text">
      <div class="sub-heading">
        <h2 id="get-started">Get Started with Strudel</h2>
      </div>
    </div>
    Strudel can be accessed directly through <a href="https://strudel.cc" target="_blank">strudel.cc</a>. 
    It is designed for a range of applications, from simple rhythm experimentation to creating 
    full compositions. The platform offers a clear and interactive framework for 
    engaging with live coding and music creation.

    <!-- <div class="text">
      <div class="sub-heading">
        <h2 id="get-started">photos</h2>
      </div>
    </div>
    PHOTOS -->
    <!-- <div class="text">
      <div class="sub-heading">
        <h2 id="get-started">my git rep</h2>
      </div>
    </div>
    PHOTOS -->

    <div class="blog-ending">
      thanks for reading - last changes: 2. January 2025
    </div>

    <div class="legal-content">
      <span class="legal-text">
        designed and developed by emil gerlach
        <div class="legal-text-things">
          &copy; 2025 Emil Gerlach<br/>
          <a href="#">up</a> 
        </div>
        <div class="disclaimer">Despite careful content control, I assume no liability for the content of external links. <br/>The operators of the linked pages are solely responsible for their content.</div>
      </span>
    </div>
    
    <script src="../static/js/main.js" defer></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="2c9e0cab-33e4-49bc-b9b4-7e4daf24e0b0"></script>
  </body>
</html>
