<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta
      name="keywords"
      content="Emil Gerlach, Gerlach, Emil Gerlach Website"
    />
    <meta name="description" content="Persönliche Website von Emil Gerlach - Musik, Geschichte, Programmieren, Schach und mehr." />

    <meta name="theme-color" content="" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />

    <meta name="author" content="Emil Gerlach" />

    <title>Emil Gerlach</title>

    <link rel="stylesheet" href="../static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@bibleup/bibleup@1/dist/css/bibleup.css"
    />

    <link rel="alternate" hreflang="en" href="https://emilgerlach.com/" />
    <link rel="alternate" hreflang="de" href="https://emilgerlach.com/de/" />
    <link
      rel="alternate"
      hreflang="x-default"
      href="https://emilgerlach.com/"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicons/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicons/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicons/favicon_io/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="../static/favicons/favicon_io/site.webmanifest"
    />
  </head>

  <body>
    <div class="body-without-footer">
      <div class="reading-progress"></div>
      <div class="navbar" id="navbar">
        <div class="navbar-btns">
          <div
            id="lightmode-darkmode-btn"
            class="lightmode-darkmode-btn"
            alt="lightmode/darkmode btn"
            title="switch between darkmode and lightmode"
            onclick="toggleDarkMode()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
              />
            </svg>
          </div>
          <div id="homeLink" class="home-btn" alt="home btn" title="home">
            <a href="https://emilgerlach.com">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                />
              </svg>
            </a>
          </div>
          <nav>
            <input type="checkbox" id="sidebar-active" />
            <label for="sidebar-active" class="open-sidebar-btn">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </label>
            <label id="overlay" for="sidebar-active"></label>
            <div class="sidebar-container">
              <label for="sidebar-active" class="close-sidebar-btn">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="32"
                  viewBox="0 -960 960 960"
                  width="32"
                >
                  <path
                    d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  />
                </svg>
              </label>
              <div class="sidebar-links-container">
                <a href="#about-emil">über mich</a>
                <a href="#about-website">über diese Website</a>
                <a href="#contact">kontakt</a>
                <a href="#find-me">finde ich auch hier</a>
                <div class="sidebar-special-content">
                  <a href="/blog">Blog</a>
                  <a href="/language-breakdown">Language Breakdown</a>
                  <a href="/random-bible-verse">Random Bible Verse</a>
                  <a
                    href="/pforzheimer-schmuck-und-uhrenindustrie-im-wandel-der-zeit"
                    >[GERMAN] Die Pforzheimer Schmuck- und Uhrenindustrie im
                    Wandel der Zeit</a
                  >
                </div>
                <div class="sidebar-special-content">
                  <a href="https://emilgerlach.com"
                    >change language to english</a
                  >
                </div>
              </div>
            </div>
          </nav>
        </div>
        <div class="parent">
          <nav aria-label="breadcrumb" class="breadcrumb">
            <ol>
              <li>
                <a aria-current="page" href="https://emilgerlach.com">Home</a>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="home-screen">emilgerlach.com</div>
      <div class="reveal">
        <p class="normal-text">
          Hi - ich bin Emil.<br />
          Willkommen zu meiner Website, auf der ich meine Projekte, Artikel,
          Ideen, Blog Posts und andere Dinge teile. Viel Spaß beim durchschauen.
        </p>
      </div>

      <div class="reveal">
        <div class="sub-heading">
          <h2 id="about-emil">über mich</h2>
        </div>
        <p class="normal-text">
          Ich bin in Pforzheim, Deutschland geboren. Glaube spielt eine wichtige
          Rolle in meinem Leben - als Christ betrachte ich mich als Anhänger von
          Jesus Christus und seinen Lehren.<br />
          Neben meinem Glauben bin ich auch an Geschichte interessiert. Ich mag
          die Recherche in Archiven und die Arbeit an Geschichts Projekten.<br />
          Außerdem höre ich viel Musik, spiele Gitarre mit meiner Tele und mache
          Hobby-Mäßig Musik auf GarageBand.<br />
          Seit ungefähr 2023, bringe ich mir selber bei, wie man programmiert.
          Seit dem habe ich ein bisschen von allem ausprobiert: game
          development, web development, creative coding, Python, Godot, HTML,
          CSS, JavaScript, Turtle, p5.js, Pygame, Strudel, ...<br />
          Ich spiele Schach seit meiner Kindheit. Jetzt spiele ich auf
          <a href="https://lichess.org/@/em-ge" target="_blank">lichess.org</a>
          und
          <a href="https://www.chess.com/member/em-ge" target="_blank"
            >chess.com</a
          >
          'low-elo' Schach.<br />
          <!-- Occasionally, I also play <a href="https://www.aoe2insights.com/user/13091349/" target="_blank">Age of Empires II</a> - though only at a noob level.<br> -->
          Ab und zu wird eine Runde AoE2 gespielt.<br />
          Meistens nenne ich mich online 'em-ge'.<br />
        </p>
      </div>

      <div class="reveal">
        <div class="sub-heading">
          <h2 id="about-website">über diese Website</h2>
        </div>
        <div class="normal-text">
          Diese Website ging das erste mal im April 2024 online und war mein
          erstes großes Coding Projekt.<br />
          Die Seite läuft über Flask. Um mehr darüber du lernen klicke
          <a href="https://emilgerlach.com/language-breakdown">hier</a>.<br />
          <a href="https://github.com/em-ge/emilgerlach.com" target="_blank"
            >Hier</a
          >
          kannst du den kompletten Quellcode auf Github anschauen.<br />
          Dieses Projekt wird nie perfekt sein. Ich arbeite fortlaufend weiter
          daran und versuche es stetig zu verbessern. Entschuldige bitte
          eventuelle Fehler oder Probleme. Falls du Bugs findest, Vorschläge
          hast oder Fragen möchtest, kannst du ein
          <a
            href="https://github.com/em-ge/emilgerlach.com/issues"
            target="_blank"
            >issue auf GitHub erstellen</a
          >
          oder auch gerne eine
          <a href="mailto:info@emilgerlach.com">Email schreiben</a>.
        </div>
      </div>

      <div class="reveal">
        <div class="sub-heading">
          <h2 id="contact">kontakt</h2>
        </div>
        <p class="normal-text">
          Fühle dich frei mich für Ideen, Feedback, Infos, Vorschläge zu
          kontaktieren. Ich würde mich freuen, von dir zu hören!
        </p>

        <div class="contact">
          <div
            class="mail-contact"
            title="send a mail to: info@emilgerlach.com"
          >
            <div class="mail-contact-img">
              <a href="mailto:info@emilgerlach.com">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                  />
                </svg>
              </a>
            </div>
            <div>
              <a href="mailto:info@emilgerlach.com">info@emilgerlach.com</a>
            </div>
          </div>
        </div>

        <div class="text">
          <div class="sub-heading">
            <h2 id="find-me">finde mich auch hier</h2>
          </div>
        </div>
        <div class="find-me">
          <div class="github-contact" title="github: em-ge">
            <div class="github-contact-img">
              <svg version="1.1" viewBox="0 0 16 16">
                <path
                  fill-rule="evenodd"
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                ></path>
              </svg>
            </div>
            <div>
              <a href="https://github.com/em-ge" target="_blank">em-ge</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-text">
        <div class="made-with-love-by collapsible">
          made with 💙 by emil gerlach<br />
          <div class="just-someone-who">
            - einfach jemand, der genießt
            <button class="collapsible-toggle-btn readmore">
              (klicke hier, um mehr zu lesen)
            </button>

            <div class="content-wrapper">
              <div class="content">
                musik, geschichte, programmieren, jesus, schach, dinge machen,
                familie und freunde,<br />
                gitarren, dampfnudeln, wissenschaft, internet, neu dinge lernen,
                menschenrechte, natur, und vieles mehr...
              </div>
            </div>
          </div>
        </div>

        <!-- <p class="designed-and-developed">designed and developed by emil gerlach</p> -->
        <div class="footer-text-things">
          &copy; 2026 Emil Gerlach<br />
          <div class="up-arrow-footer">&#x2B61;<a href="#">up</a></div>
        </div>
      </div>
    </div>

    <script src="../static/js/main.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@bibleup/bibleup@1"></script>
    <script src="../static/js/bibleUp.js"></script>
    <script src="../static/js/time.js" defer></script>
    <!-- https://cloud.umami.is/script.js -->
    <script
      defer
      src="https://analytics.umami.is/script.js"
      data-website-id="2c9e0cab-33e4-49bc-b9b4-7e4daf24e0b0"
    ></script>
  </body>
</html>
